* {
  box-sizing: border-box;
}

h1, h2, h3, h4, figure {
  margin: 0;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #979797;
}

a:active {
  color: #CC5500;
} 