h1 {
  font-family: ArchivoBlack;
  font-size: 3.5rem;
}

h2 {
  font-family: ArchivoBlack;
  font-size: 2.8rem;
}

h3 {
  font-family: ArchivoBlack;
  font-size: 2.2rem;
}

h4 {
  font-family: ArchivoBlack;
  font-size: 1.9rem;
}

p {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
}