.portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__button {
    padding: 8px 16px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
  }
}

.portfolio-list {
  list-style-type: none;

  &__dates {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
  }

  &__date {
    font-size: 1rem;
    font-style: italic;
  }
}

.portfolio-item {
  display: flex;
  gap: 1rem;

  &__image {
    width: 150px;
    height: 170px;
    object-fit: cover;
    display: block;

    &--large {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 1.9rem;

    &--large {
      font-size: 2.8rem;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}